* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 166, 0, 0.096);
}

.navbar img {
  width: 50px;
  height: 60px;
}

.navbar h3 {
  color: black;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  cursor: pointer;
  list-style: none;
}

.navbar ul a {
  color: aliceblue;
  text-decoration: none;
}

.navbar .search {
  display: flex;
  justify-content: space-between;
}

.navbar .search img {
  height: 20px;
  width: 10px;
  border: none;
  cursor: pointer;
}

.navbar .search input {
  height: 2rem;
  width: auto;
  border-radius: 35%;
  background-color: rgba(0, 255, 255, 0.075);
}

.navbar ul a:hover {
  padding: 30px 50px;
  color: black;
  background-color: rgb(0, 25, 139);
  font-style: italic;
}

/* Hero section Body of the dcode */
.hero {
  height: 100vh;
  justify-content: center;
  display: flex;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.973)),
    url(./Assets/Hero\ 1.jpg);

  padding-top: 100px;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  align-items: center;
  color: white;
}
.herotext{
  display: flex;
  flex-direction: column;
  width: 120vb;
}
.hero h1 {
  justify-content: center;
  align-content: center;
  font-size: 140px;
  line-height: 0.9;
}

.hero p {
  justify-content: center;
  align-content: center;
  font-style: italic;
  font-size: 20px;
}

.hero .button {
  gap: 20px;
  display: flex;
  justify-content: center;
}
.hero button {
  gap: 50px;
  border: none;
  color: white;
  background-color: crimson;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.hero .btns {
  color: aliceblue;
  background-color: blue;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.hero .btns:hover {
  background-color: chocolate;
  font-style: italic;
  border-radius: 30%;
}
.hero button:hover {
  background-color: brown;
  font-style: italic;
  border-radius: 30%;
}

/* Section 2 of our main body  */
.second {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: first baseline;
  height: 100vh;
  gap: 15rem;
  color: rgba(213, 240, 140, 0);
  background-image: url(./Assets/Second.jpg);
  background-position: center;
}

.pastry img {
  display: flex;
  justify-content: baseline;
  align-content: first baseline;
  height: 50vh;
  width: 40vb;
}

.pastry span {
  color: rgb(196, 3, 3);
}

/* third section of our main body  */
.third {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-image: url(./Assets/third.jpg);
  background-position: center;
}
.third img {
  height: 50vh;
  width: 50vb;
  display: flex;
}
